/* /Components/TicTacToeGame.razor.rz.scp.css */
*[b-8fmlm1fyvp] {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container[b-8fmlm1fyvp] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--tic-tac-toe-container);
}

/*button {
    color: var(--link);
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

    button:hover {
        cursor: pointer;
        background: green;
        color: white;
    }
*/
.play-area[b-8fmlm1fyvp] {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
    margin: 5px;
}

.square[b-8fmlm1fyvp] {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid var(--tic-tac-toe-borders);
    transition: background 0.2s ease-in-out;
}

    .square:hover[b-8fmlm1fyvp] {
        cursor: pointer;
        background: #0ff30f;
    }

#square0[b-8fmlm1fyvp],
#square1[b-8fmlm1fyvp],
#square2[b-8fmlm1fyvp] {
    border-top: none;
}

#square0[b-8fmlm1fyvp],
#square3[b-8fmlm1fyvp],
#square6[b-8fmlm1fyvp] {
    border-left: none;
}

#square6[b-8fmlm1fyvp],
#square7[b-8fmlm1fyvp],
#square8[b-8fmlm1fyvp] {
    border-bottom: none;
}

#square2[b-8fmlm1fyvp],
#square5[b-8fmlm1fyvp],
#square8[b-8fmlm1fyvp] {
    border-right: none;
}
