/* /Components/TicTacToeGame.razor.rz.scp.css */
*[b-8fmlm1fyvp] {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container[b-8fmlm1fyvp] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--tic-tac-toe-container);
}

/*button {
    color: var(--link);
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

    button:hover {
        cursor: pointer;
        background: green;
        color: white;
    }
*/
.play-area[b-8fmlm1fyvp] {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
    margin: 5px;
}

.square[b-8fmlm1fyvp] {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid var(--tic-tac-toe-borders);
    transition: background 0.2s ease-in-out;
}

    .square:hover[b-8fmlm1fyvp] {
        cursor: pointer;
        background: #0ff30f;
    }

#square0[b-8fmlm1fyvp],
#square1[b-8fmlm1fyvp],
#square2[b-8fmlm1fyvp] {
    border-top: none;
}

#square0[b-8fmlm1fyvp],
#square3[b-8fmlm1fyvp],
#square6[b-8fmlm1fyvp] {
    border-left: none;
}

#square6[b-8fmlm1fyvp],
#square7[b-8fmlm1fyvp],
#square8[b-8fmlm1fyvp] {
    border-bottom: none;
}

#square2[b-8fmlm1fyvp],
#square5[b-8fmlm1fyvp],
#square8[b-8fmlm1fyvp] {
    border-right: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-k8jeig66eg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-k8jeig66eg] {
    flex: 1;
}

.sidebar[b-k8jeig66eg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k8jeig66eg] {
    background-color: var(--background);
    color: var(--font-color);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k8jeig66eg]  a, .top-row .btn-link[b-k8jeig66eg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-k8jeig66eg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k8jeig66eg] {
        display: none;
    }

    .top-row.auth[b-k8jeig66eg] {
        justify-content: space-between;
    }

    .top-row a[b-k8jeig66eg], .top-row .btn-link[b-k8jeig66eg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k8jeig66eg] {
        flex-direction: row;
    }

    .sidebar[b-k8jeig66eg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k8jeig66eg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-k8jeig66eg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
